<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054275207797-k5um70919hc5monnv07fb2upjkv6qo2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054275207797-k5um70919hc5monnv07fb2upjkv6qo2c</string>
	<key>API_KEY</key>
	<string>AIzaSyCGetoHEskHxjjq_xLRwpSUpejhRHD8NPE</string>
	<key>GCM_SENDER_ID</key>
	<string>1054275207797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-40599</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-40599.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054275207797:ios:7a53845284d9cc35aaee3c</string>
</dict>
</plist>