<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167791056620-c554ug6gh0a9qc83t58iquae2mesgh1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167791056620-c554ug6gh0a9qc83t58iquae2mesgh1v</string>
	<key>API_KEY</key>
	<string>AIzaSyC4fz2PBBZiYBA3BMAGr8Yu5Zc27q3s3gE</string>
	<key>GCM_SENDER_ID</key>
	<string>167791056620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseExample</string>
	<key>PROJECT_ID</key>
	<string>fir-example-9af26</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-9af26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167791056620:ios:c21cdbaded56a2a29077c9</string>
</dict>
</plist>